<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    
</head>
<body>
    <div class="background-container"></div>
    <header>
      <h1 style="font-family: 'Arial', sans-serif; color: #ffffff; 
        text-align: center; margin: 50px 20px 20px 20px; font-size: 48px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
         background-color: #79747871; padding: 20px;  
         box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); border: 1px solid #000000;">Welcome to {{pageTitle}}</h1>

        <nav>
            <ul>
                <li><a href="/deck" class="decks-button">Decks</a></li>
                <li><a href="/pokemon" class="pokemon-button">Pokemon</a></li>
                <li><a href="/favorite" class="favorites-button">Favorites</a></li>
                <li><a href="/api/logout" class="logout-button">Logout</a></li>
            </ul>
        </nav>
    </header>
      {{{body}}}
</body>
</html>
