<main>
  <h1>Favorites</h1>
  {{#if favorites.length}}
    <ul id="pokemon-list">
      {{#each favorites}}
        <li data-id="{{id}}" data-favorited="true">
          <span>{{this.pokemonName}}</span>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>No favorites added yet.</p>
  {{/if}}
</main>

<script src="/js/favorite.js"> </script>
