<main>
    <h1>Favorites</h1>
    {{#if favorites.length}}
        <ul>
            {{#each favorites}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    {{else}}
        <p>No favorites added yet.</p>
    {{/if}}
</main>


