    <main class="login-container">
        <h1>Login</h1>
        <form class="login-form" id="login-form">
            <input type="email" class="login-input" placeholder="Email" required>
            <input type="password" class="login-input" placeholder="Password" required>
            <button type="submit" class="login-button">Login</button>
            <p class="error-message" id="error-message">{{errorMessage}}</p>
        </form>
    </main>


